<%- include('../../shared/includes/head', { pageTitle: 'Success' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Oder was placed successfully</h1>
    <p>you can visit the oders page for more details <a href="/oders">The Ordes page</a></p>
  </main>
<%- include('../../shared/includes/footer') %>