<%- include('includes/head', { pageTitle: 'An Error'}) %>

</head>
<body>
  <%- include('includes/header') %>
  <main>
<h1>NOt Authorized</h1>
<p>WHat did i say, youre not authorized...damnn</p>
<p><a class="btn" href="/">Back to Safety</a></p>
  </main>
  <%- include('includes/footer') %>