<%- include('includes/head', { pageTitle: 'An Error'}) %>

</head>
<body>
  <%- include('includes/header') %>
  <main>
<h1>Could not find resource</h1>
<p>YOU DONE MESSED UP, TRY AGAIN</p>
<p><a class="btn" href="/">Back to Safety</a></p>
  </main>
  <%- include('includes/footer') %>